body{
  background-color: black;
}
.gameBoard {
  display:flex;
}
.row {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
}
.gameBlock {
  box-sizing: border-box;
  width: 25px;
  height: 100%;
  background-color: silver;
  border: 1px solid gray;
}
